@keyframes statusPulse{

    0%{
        opacity:.5;
        transform:scale(1);
    }

    50%{
        opacity:1;
        transform:scale(1.25);
    }

    100%{
        opacity:.5;
        transform:scale(1);
    }

}